@media (max-width: 1024px) {
    header {
        padding: 30px 10px ;
        
    }

    header > nav {
        justify-content: space-between;
        padding: 10px;
    }

    header > nav > .header-title, .l-menu {
        display: none;
    }

    .hamburger-menu {
        display: flex;
    }

    .l-menu-lt {
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }

}

@media (max-width: 500px) {
    .r-menu > :nth-child(2) {
        display: none;
    }
}