:root {
    --theme: rgb(130, 241, 120);
    --background: rgb(63, 73, 82);
    --border-python: rgb(48, 105, 152); /* Azul claro para Python */
    --border-js: rgb(247, 223, 30); /* Amarillo para JavaScript */
    --border-cpp: rgb(0, 89, 156); /* Azul profundo para C++ */
    --border-java: rgb(231, 111, 0); /* Naranja quemado para Java */
}