header {
    background-color: black;
    color: white;
    padding: 50px;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 50px;
    border-top: 10px ridge var(--yellow);
    border-bottom: 10px ridge var(--yellow);
}

header > nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

header > nav > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

}

.header-title > h1 {
    font-family: "Chakra Petch", sans-serif;
}

.header-title {
    text-decoration: none;
    color: white;
    transition: color 0.1s linear;
}

.header-title:hover {
    color: var(--yellow);
}

header > nav > ul > li > a {
    text-decoration: none;
    color: white;
}

.r-menu {
    gap: 20px;
    
}

.r-menu > :nth-child(2) > a {
    border: 2px solid white;
    padding: 10px;
    transition: border-color 0.1s linear, color 0.1s linear, background-color 0.1s linear;
}

.r-menu > :nth-child(2) > a:hover {
    background-color: var(--yellow);
    border-color: var(--yellow);
    color: black;
}

.r-menu > :nth-child(1) > a > i {
    font-size: 25px;
}

.l-menu > li > a {
    transition: border-color 0.1s linear, color 0.1s linear;
    border-bottom: 2px solid transparent;
}

.l-menu > li > a:hover {
    color: var(--yellow);
    border-bottom: 2px solid var(--yellow);
}

.hamburger-menu {
    font-size: 25px;
    display: none;
}